body{
    font-family: Inter,Noto Sans TC,Microsoft JhengHei,sans-serif,serif;
}
a{
    text-decoration: none;
}
/* =====================header===================== */

.header-wrap{
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.todomain-header{
    width: 100%;
    background-color: #000;
    opacity: .9;
    position: fixed;
    z-index: 100;
    top: 0;
}
.header-main{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: #000;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}
.logo{
    /* margin-right: auto; */
}
.logo a{
    display: block;
    font-size: 0;
}
.navList{
    width: 100%;
    text-align: center;
    /* padding: 0 50px; */
    margin: auto;
}
.navList-content {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    /* gap: 50px; */
}
.navList-content li{
    position: relative;
    margin: 0 3.472222%;
}
.navList-content li::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #DEAA40;
    transition: width 0.3s ease-out, left 0.3s ease-out;
}
.navList-content li:nth-child(2)::after{
    background-color: #00E0FF;
}
.navList-content li:nth-child(2)::after{
    background-color: #6AA6FF;
}
.navList-content li:nth-child(3)::after{
    background-color: #00FFD1;
}
.navList-content li:nth-child(4)::after{
    background-color: #DEAA40;
}
.navList-content li:nth-child(5)::after{
    background-color: #F077C0;
}
.navList-content li:hover::after{
    width: 100%;
    left: 0;
}
.navList-content li a span{
    color:#9c9c9c;
    transition: color 0.3s;
}
.navList-content li:hover a span{
    color:#fff
}
.navList-content a {
    color: #fff;
    display: block;
    height: 100%;
}
.search{
    /* width: 100%; */
    width: 32.5%;
    display: flex;
    align-items: center;
    font-size: 0;
    position: relative;
    margin: 0 10px;
}
.search-bar{
    width: 100%;
    height: 32px;
    font-size: 16px;
    border:none;
    color: #fff;
    border-top: 1px solid #727272;
    border-left: 1px solid #727272;
    border-bottom: 1px solid #727272;
    background-color: #444444;
    padding-right: 36px;
}
.search-btn{
    width: 36px;
    height: 32px;
    background-color: #444444;
    color: #deaa40;
    border: none;
    border-top: 1px solid #727272;
    border-right: 1px solid #727272;
    border-bottom: 1px solid #727272;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.login{
    margin-left: 30px;
    color:#fff;
    cursor: pointer;
    display: flex;
    margin: 0 10px;
}
.login span{
    white-space: nowrap;
}
.shopping-cart{
    display: flex;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
}
.cart-quantity{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 10px;
    background-color: #EB6565;
    border-radius: 10px;
    margin-left: 5px;
}
.cart-word{
    margin-left: 5px;
    white-space: nowrap;
}
/* ====================footer===================== */
.todomain-footer{
    width: 100%;
    margin-top: 200px;
    height: 300px;
    text-align: center;
    background-color: #000;
    font-size: 0;
    position: relative;
    bottom: 0;
}
.footer-line{
    max-width: 1920px;
    margin: auto;
}
.footer-line img{
    width: 100%;
}
.footer-logo{
    padding-top: 80px;
}
.copy-right{
    padding-top: 60px;
    font-size: 12px;
    color: #fff;
}

/* ====================go-Top===================== */
#myBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: 1px solid #deaa40;
    outline: none; 
    background-color: #deaa4077; 
    color: #deaa40; 
    cursor: pointer; 
    padding: 25px; 
  }
  
  #myBtn:hover {
    background-color: #deaa40;
    color: #fff;
    transition: .2s;
  }
  .fa-angles-up{
    font-size: 30px;
  }

  /* ========================================== */
  @media screen and (min-width:768px){
    .header-wrap{
        flex-wrap: wrap;
    }
    .todomain-header{
        min-width: 768px ;
    }
    .search{
        /* width: 100%; */
        width: 32.5%;
        display: flex;
        align-items: center;
        font-size: 0;
        /* position: relative; */
    }

}
@media screen and (min-width:1024px){

}
@media screen and (min-width:1200px){
    .header-wrap{
        flex-wrap: nowrap;
        justify-content: center;
        margin: auto;
    }
}
@media screen and (min-width:1440px){

}