body{
    font-family: Inter,Noto Sans TC,Microsoft JhengHei,sans-serif,serif;
    font-size: 16px;
    color: #fff;
    background-image: url("../pic/bgGoldLine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bgc_bk{
    background-color: #000000b3;
}
main{
    margin-top: 80px;
}
.product_info{
    max-width: 1920px;
    margin: auto;
    padding-top: 40px;
}
.product_info .container{
    max-width: 1440px;
    margin: auto;
}
/* ==============麵包屑============== */
.breadcrumb {
    margin-bottom: 15px;
}
.breadcrumb li{
    display: inline;
    color: #deaa40;
}
.breadcrumb li + li::before{
    /* color: #777; */
    content: ">";
}
.breadcrumb li a{
    text-decoration: underline;
    display: inline;
}
.breadcrumb li a:visited {
    color: inherit;  /* 保留父元素的顏色，也可以指定其他的顏色值 */
    color: #777;
}
/* ==============商品內容============== */
.product-info-container{
    font-size: 0;
}
.title-product-intro,
.title-product-detail,
.title-product-recommended{
    font-size: 0;
}
.gold-line{
    font-size: 0;
}
/* ==============商品介紹標題============== */
.title-product-intro-text{
    color:#deaa40;
    font-size: 32px;
    font-weight: 900;
    background-image: linear-gradient(to bottom, #440505, transparent);
    padding: 15px 20px;
}
.title-product-intro{
    font-size: 32px;
}
.product-top-info{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.product-name-wrap{
    padding: 30px 20px 0 20px;
}
.product-name{
    display: flex;
}
.product-name-title{
    font-size: 32px;
    color:#deaa40;
    font-weight: 600;
}
.product-tag{
    display: flex;
    margin-left: 20px;
    gap: 10px;
    align-items: center;
    white-space: nowrap;
}
.tag-limited{
    color: #fff;
    background-color: #A94A4A;
    border-radius: 3px;
    padding: 6px;

}
.tag-sale{
    color: #fff;
    background-color: #DEAA40;
    border-radius: 3px;
    padding: 6px;
}
.tag-in_stock{
    color: #fff;
    background-color: #406CDE;
    border-radius: 3px;
    padding: 6px;
}
.product-sub-intro{
    font-size: 18px;
    color: #8E9096;
    margin-top: 10px;
}
.release-date{
    margin-top: auto;
    margin-right: 20px;
    padding: 10px;
    color: #fff;
    background-color: #00248280;
    border: 1px solid #88A9FF;

}
/* ==============商品圖片區============== */
.product-middle-info{
    display: flex;
    padding: 30px 20px;

}
.product-large-pic{
    width: 59%;
    margin-right: 1%;
    position: relative;
}
.product-large-pic i{
    font-size: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.product-pic_price-wrap{
    width: 40%;
}
.product-large-pic img{
    width: 100%;
}
.product-pic-wrap{
    display: grid;
    grid-template: repeat(2,275px)/repeat(2,1fr);
    gap: 10px;
    margin-bottom: 10px;
}
.product-pic-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-price-info{
    font-size: 24px;
    padding: 40px 10px;
}
/* 數量選擇 */
.select {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.select select{
    height: 100%;
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    border: 1px solid #77777780;
    width: 200px;
    margin-left: 20px;
    padding: 5px 0;
}
.select select option{
    color: #000;
}
/* 價格 */
.price{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.price .price-twd{
    font-weight: 600;
    font-size: 30px;
    color: #DEAA40;
    margin-left: 20px;
}
/* 購買按鈕 */
.price-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}
.add-to-cart{
    box-sizing: border-box;
    width: 220px;
    padding: 20px 30px;
    border: 1px solid #DEAA40;
    cursor: pointer;
}
.checkout{
    box-sizing: border-box;
    width: 220px;
    padding: 20px 30px;
    background-color: #DEAA40;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}
.add-to-favorite i{
    cursor: pointer;
}
.add-to-favorite p{
    padding-top: 10px;
}
/* ==============商品詳情標題============== */
.product-detail{
    font-size: 16px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}
/* ==============商品詳情-左欄============== */
.product-detail-info{
    width: 45%;
}
.product-intro-text{
    font-size: 20px;
    line-height: 1.5;
    color: #DEAA40;
    margin-bottom: 50px;
}
.product-specifications{
    font-size: 16px;
}
.product-specifications p {
    margin-bottom: 30px;
}
.notice-of-manufacturing{
    list-style: disc;
}
.notice-of-manufacturing li{
    padding-bottom: 10px;
    margin-left: 24px;
}
/* ==============商品詳情-右欄============== */
.shopping-instructions{
    width: 45%;
    font-size: 20px;
}
.shopping-instructions ul{
    list-style: disc;
}
.shopping-instructions p, h4, li{
    padding-left: 14px;
    /* 字首貼齊有border-left的標題 */
    /* list-style-position: inside; */
    /* 讓li的點貼齊內文 */
    /* vertical-align: middle; */
}
.shopping-instructions li{
    margin-left: 40px;
}
.shopping-instructions h3{
    border-left:4px solid #DEAA40;
    font-weight: 700;
    padding-left: 10px;
    margin-bottom: 12px;
}
.shopping-info{
    margin-bottom: 50px;
}
.shipping-info ul{
    margin-bottom: 50px;    
}
.shipping-info h4, li{
    margin-bottom: 10px;    
}
/* ==============copyright============== */
.product-copyright{
    font-size: 16px;
}
/* ==============推薦商品============== */
.smallCard-wrap{
    display: grid;
    grid-gap: 20px 10px;
    grid-template: repeat(1,1fr) / repeat(7,1fr);
    margin: 30px 0;
}
.smallCard{
    box-sizing: border-box;
    width: 190px;
    background-color: #000;
    padding: 10px;
    border: 1px solid #deaa40;
}
.smallCard-title{
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    border-left: 3px solid #deaa40;
    padding-left: 5px;
    }
.smallCard-title-main{
    color: #deaa40;
}
.smallCard-title-type{
    padding-top: 5px;
    color: #fff;
}
.smallCard-detail-btn{
    width: 170px;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #000;
    line-height: 2;
    background-color: #deaa40;
    margin-top: 10px;
}
.card-pic{
    position: relative;
    font-size: 0;
}
.card-pic img{
    width: 100%;
    position: relative;
    font-size: 0;
}
.card-pic::before,
.card-pic::after {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    pointer-events: none;
    /* 禁用偽元素的滑鼠事件 */
}
.card-pic::before {
    top: 0;
    left: 0;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 1;
}
.card-pic::after {
    bottom: 0;
    right: 0;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 1;
}
.decorateLB{
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #000;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.decorateRT{
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #000;
    right: 0;
    top: 0;
    z-index: 1;
}